<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html th:xmlns="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <form action="/token/update" th:action="@{/token/update}" method="post" th:method="post" th:object="${tkn}">
            <div>
                <label for="harga">Kode</label>
                <input type="text" name="kode" id="kode" th:field="*{kode}" readonly="true"/>
            </div>
            <div>
                <label for="harga">Nama Produk</label>
                <input type="text" name="namaProduk" id="namaProduk" th:field="*{namaProduk}" readonly="true"/>
            </div>
            <div>
                <label for="harga">Harga</label>
                <input type="text" name="harga" id="harga" th:field="*{harga}"/>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>
